body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: navajowhite;
}

nav {
    display: flex;
    background-color: dodgerblue;
    padding: 1rem;
    justify-content: space-around;
}

nav a {
    color: cornsilk;
}

nav a.selected {
    border:solid 1px cornsilk;
    padding: 0.5rem;
}

h1 {
    text-align: center;
    text-decoration: underline 3px solid black;
}

ul {
    text-align: center;
    list-style: none;
    padding: 4px;
}

p {
    text-align: center;
}
